Node-Red/flows/he-logging.json
[
    {
        "id": "97f64ca.d04b7b",
        "type": "tab",
        "label": "Hubitat Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a76fb58c.e649d8",
        "type": "websocket in",
        "z": "97f64ca.d04b7b",
        "name": "Hubitat Logs WS",
        "server": "",
        "client": "a188bb97.72e918",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ea94de21.c963d",
                "d4696c28.da993"
            ]
        ]
    },
    {
        "id": "78ade93b.b1bac8",
        "type": "mysql",
        "z": "97f64ca.d04b7b",
        "mydb": "b443bf10.3a478",
        "name": "Logging DB",
        "x": 1330,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b03a9a19.0765e8",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Create Logs INSERT",
        "func": "var query = \"INSERT INTO logs(`name`,`msg`,`id`,`time`,`type`,`level`) VALUES(\";\n//var name = msg.name.replace(/'/g, \"\\'\");\n//var msg = msg.msg.replace(/'/g, \"\\'\");\n\nquery += \"'\" + msg.name + \"',\";\nquery += \"'\" + msg.msg + \"',\";\nquery += msg.id + ',';\nquery += \"'\" + msg.time + \"',\";\nquery += \"'\" + msg.type + \"',\";\nquery += \"'\" + msg.level + \"')\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "78ade93b.b1bac8"
            ]
        ]
    },
    {
        "id": "1b825032.f16ee",
        "type": "websocket in",
        "z": "97f64ca.d04b7b",
        "name": "Hubitat Events WS",
        "server": "",
        "client": "384bf512.4d2332",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "19d853b5.dd045c",
                "f6d78ae6.9b33c8",
                "14156578.ca310b"
            ]
        ]
    },
    {
        "id": "837d6d2b.cd3d4",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Create Events INSERT",
        "func": "var query = \"INSERT INTO events(`source`,`name`,`displayName`,`value`,`unit`,`deviceId`,`hubId`,`locationId`,`installedAppId`,`descriptionText`) VALUES(\";\n//var name = msg.name.replace(/'/g, \"\\'\");\n//var msg = msg.msg.replace(/'/g, \"\\'\");\n\nquery += \"'\" + msg.source + \"',\";\nquery += \"'\" + msg.name + \"',\";\nquery += \"'\" + msg.displayName + \"',\";\nquery += \"'\" + msg.value + \"',\";\nquery += \"'\" + msg.unit + \"',\";\nquery += msg.deviceId           === null ? 'null,' : msg.deviceId + ',';\nquery += msg.hubId              === null ? 'null,' : msg.hubId + ',';\nquery += msg.locationId         === null ? 'null,' : msg.locationId + ',';\nquery += msg.installedAppId     === null ? 'null,' : msg.installedAppId + ',';\nquery += msg.descriptionText    === null ? 'null)' : \"'\" + msg.descriptionText + \"')\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "78ade93b.b1bac8"
            ]
        ]
    },
    {
        "id": "e39467d7.6dc3e8",
        "type": "catch",
        "z": "97f64ca.d04b7b",
        "name": "",
        "scope": [
            "ea99d794.26c8d8",
            "1935fea3.313a31",
            "4960662b.bc34c8",
            "72bb48bf.fe9398",
            "f6d78ae6.9b33c8",
            "ed81fd66.e69b7",
            "b726ad7a.fa073",
            "7990ff36.983b4",
            "13d86cdc.bb08a3",
            "1b825032.f16ee",
            "a76fb58c.e649d8",
            "78ade93b.b1bac8",
            "ce199a1d.01e3a8",
            "fd413858.152d38",
            "ea94de21.c963d",
            "7a8de778.339c68",
            "f39ed3f8.44b23",
            "4d2f4537.3de19c"
        ],
        "x": 80,
        "y": 800,
        "wires": [
            [
                "5b6da7c4.6ec298",
                "54d8b82.c034048"
            ]
        ]
    },
    {
        "id": "5b6da7c4.6ec298",
        "type": "change",
        "z": "97f64ca.d04b7b",
        "name": "Convert error.message to msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "HE Logging has thrown an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "c3c2bc48.01bc5"
            ]
        ]
    },
    {
        "id": "c3c2bc48.01bc5",
        "type": "debug",
        "z": "97f64ca.d04b7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "7891807e.90163",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Create temp INSERT",
        "func": "var query = \"INSERT INTO temperatures(deviceId, displayName, `value`) VALUES(\";\n\nquery += msg.payload.id + \",\";\nquery += \"'\" + msg.payload.label + \"',\";\nquery += msg.payload.attributes['temperature'];\nquery += \")\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "78ade93b.b1bac8"
            ]
        ]
    },
    {
        "id": "7990ff36.983b4",
        "type": "http request",
        "z": "97f64ca.d04b7b",
        "name": "Get Devices with Capabilites",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "b726ad7a.fa073",
                "ed81fd66.e69b7"
            ]
        ]
    },
    {
        "id": "b726ad7a.fa073",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Find Temperature Devices",
        "func": "var devices = [];\nmsg.payload.forEach(function(device) {\n    if(device.capabilities) {\n        for (var i=0; i<device.capabilities.length;i++) {\n            if(device.capabilities[i] == 'TemperatureMeasurement')\n                devices.push(device);\n        }\n    }\n});\n\nmsg.payload = devices;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "f1a7c34d.89ce1"
            ]
        ]
    },
    {
        "id": "f1a7c34d.89ce1",
        "type": "splitter",
        "z": "97f64ca.d04b7b",
        "name": "Split payload array",
        "property": "payload",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "d1d5fec0.8428a"
            ]
        ]
    },
    {
        "id": "ed81fd66.e69b7",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Find Battery Devices",
        "func": "var devices = [];\nmsg.payload.forEach(function(device) {\n    if(device.capabilities) {\n        for (var i=0; i<device.capabilities.length;i++) {\n            if(device.capabilities[i] == 'Battery')\n                devices.push(device);\n        }\n    }\n});\n\nmsg.payload = devices;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "7f6d0f15.9d5fa"
            ]
        ]
    },
    {
        "id": "7f6d0f15.9d5fa",
        "type": "splitter",
        "z": "97f64ca.d04b7b",
        "name": "Split payload array",
        "property": "payload",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "1db93240.af0dde"
            ]
        ]
    },
    {
        "id": "36f8d654.2bf7ba",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Create battery INSERT",
        "func": "var query = \"INSERT INTO batteries(deviceId, displayName, `value`) VALUES(\";\n\nquery += msg.payload.id + \",\";\nquery += \"'\" + msg.payload.label + \"',\";\nquery += msg.payload.attributes['battery'];\nquery += \")\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "78ade93b.b1bac8"
            ]
        ]
    },
    {
        "id": "9a69f4a5.deaff8",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Create Motion INSERT",
        "func": "var query = \"INSERT INTO motions(deviceId, displayName, `value`) VALUES(\";\n\nquery += msg.deviceId + \",\";\nquery += \"'\" + msg.displayName + \"',\";\nquery += \"'\" + msg.value + \"'\";\nquery += \")\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 160,
        "wires": [
            [
                "78ade93b.b1bac8"
            ]
        ]
    },
    {
        "id": "19d853b5.dd045c",
        "type": "switch",
        "z": "97f64ca.d04b7b",
        "name": "Name switch",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "switch",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "84fa4b5e.fa9738"
            ],
            [
                "1530ffac.76d31"
            ]
        ]
    },
    {
        "id": "cbbf29b1.b06698",
        "type": "function",
        "z": "97f64ca.d04b7b",
        "name": "Create Switch INSERT",
        "func": "var query = \"INSERT INTO switches(deviceId, displayName, `value`) VALUES(\";\n\nquery += msg.deviceId + \",\";\nquery += \"'\" + msg.displayName + \"',\";\nquery += \"'\" + msg.value + \"'\";\nquery += \")\";\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "78ade93b.b1bac8"
            ]
        ]
    },
    {
        "id": "20f2d767.c7b5a8",
        "type": "comment",
        "z": "97f64ca.d04b7b",
        "name": "Use websockets to log all events and logs",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "1935fea3.313a31",
        "type": "comment",
        "z": "97f64ca.d04b7b",
        "name": "Calls Maker API every hour",
        "info": "",
        "x": 130,
        "y": 360,
        "wires": []
    },
    {
        "id": "58f3eccf.6ebb34",
        "type": "inject",
        "z": "97f64ca.d04b7b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "7990ff36.983b4"
            ]
        ]
    },
    {
        "id": "ea94de21.c963d",
        "type": "logger",
        "z": "97f64ca.d04b7b",
        "name": "Logs File Logger",
        "filename": "/var/log/hubitat/logs.json",
        "maxsize": "500",
        "maxfiles": 10,
        "complete": "payload",
        "console": false,
        "file": true,
        "debug": false,
        "zip": true,
        "logtype": "info",
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "f6d78ae6.9b33c8",
        "type": "logger",
        "z": "97f64ca.d04b7b",
        "name": "Events File Logger",
        "filename": "/var/log/hubitat/events.json",
        "maxsize": "500",
        "maxfiles": 10,
        "complete": "payload",
        "console": false,
        "file": true,
        "debug": false,
        "zip": true,
        "logtype": "info",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "54d8b82.c034048",
        "type": "logger",
        "z": "97f64ca.d04b7b",
        "name": "Error Logger",
        "filename": "/var/log/hubitat/nr-errors.log",
        "maxsize": "10",
        "maxfiles": 10,
        "complete": "true",
        "console": false,
        "file": true,
        "debug": false,
        "zip": true,
        "logtype": "info",
        "x": 250,
        "y": 760,
        "wires": []
    },
    {
        "id": "7a8de778.339c68",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "stripTags",
                "params": [
                    {
                        "type": "str",
                        "value": ""
                    }
                ]
            },
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\\'"
                    }
                ]
            }
        ],
        "prop": "msg",
        "propout": "msg",
        "object": "msg",
        "objectout": "msg",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "b03a9a19.0765e8"
            ]
        ]
    },
    {
        "id": "f39ed3f8.44b23",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "Replace '",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\""
                    }
                ]
            }
        ],
        "prop": "descriptionText",
        "propout": "descriptionText",
        "object": "msg",
        "objectout": "msg",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "837d6d2b.cd3d4"
            ]
        ]
    },
    {
        "id": "fe9dba1d.de1858",
        "type": "inject",
        "z": "97f64ca.d04b7b",
        "name": "02:00 Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "72bb48bf.fe9398"
            ]
        ]
    },
    {
        "id": "72bb48bf.fe9398",
        "type": "http request",
        "z": "97f64ca.d04b7b",
        "name": "Download backup",
        "method": "GET",
        "ret": "bin",
        "url": "http://192.168.1.110/hub/backupDB?fileName=latest",
        "tls": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "4d2f4537.3de19c"
            ]
        ]
    },
    {
        "id": "ea99d794.26c8d8",
        "type": "file",
        "z": "97f64ca.d04b7b",
        "name": "Backup File",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 650,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4d2f4537.3de19c",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "strip",
                "params": [
                    {
                        "type": "str",
                        "value": "attachment; filename="
                    }
                ]
            },
            {
                "name": "prepend",
                "params": [
                    {
                        "type": "str",
                        "value": "/var/log/hubitat/backups/"
                    }
                ]
            }
        ],
        "prop": "headers.content-disposition",
        "propout": "filename",
        "object": "msg",
        "objectout": "msg",
        "x": 490,
        "y": 640,
        "wires": [
            [
                "ea99d794.26c8d8"
            ]
        ]
    },
    {
        "id": "1db93240.af0dde",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\\'"
                    }
                ]
            }
        ],
        "prop": "payload.label",
        "propout": "payload.label",
        "object": "msg",
        "objectout": "msg",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "36f8d654.2bf7ba"
            ]
        ]
    },
    {
        "id": "d1d5fec0.8428a",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\\'"
                    }
                ]
            }
        ],
        "prop": "payload.label",
        "propout": "payload.label",
        "object": "msg",
        "objectout": "msg",
        "x": 930,
        "y": 240,
        "wires": [
            [
                "7891807e.90163"
            ]
        ]
    },
    {
        "id": "84fa4b5e.fa9738",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\""
                    }
                ]
            },
            {
                "name": "stripTags",
                "params": [
                    {
                        "type": "str",
                        "value": ""
                    }
                ]
            }
        ],
        "prop": "name",
        "propout": "msg",
        "object": "msg",
        "objectout": "msg",
        "x": 930,
        "y": 160,
        "wires": [
            [
                "9a69f4a5.deaff8"
            ]
        ]
    },
    {
        "id": "1530ffac.76d31",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\""
                    }
                ]
            },
            {
                "name": "stripTags",
                "params": [
                    {
                        "type": "str",
                        "value": ""
                    }
                ]
            }
        ],
        "prop": "name",
        "propout": "msg",
        "object": "msg",
        "objectout": "msg",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "cbbf29b1.b06698"
            ]
        ]
    },
    {
        "id": "d4696c28.da993",
        "type": "string",
        "z": "97f64ca.d04b7b",
        "name": "",
        "methods": [
            {
                "name": "stripTags",
                "params": [
                    {
                        "type": "str",
                        "value": ""
                    }
                ]
            },
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "'"
                    },
                    {
                        "type": "str",
                        "value": "\\'"
                    }
                ]
            }
        ],
        "prop": "name",
        "propout": "name",
        "object": "msg",
        "objectout": "msg",
        "x": 810,
        "y": 80,
        "wires": [
            [
                "7a8de778.339c68"
            ]
        ]
    },
    {
        "id": "14156578.ca310b",
        "type": "switch",
        "z": "97f64ca.d04b7b",
        "name": "descriptionText",
        "property": "descriptionText",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "837d6d2b.cd3d4"
            ],
            [
                "f39ed3f8.44b23"
            ]
        ]
    },
    {
        "id": "a188bb97.72e918",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.110/logsocket",
        "tls": "",
        "wholemsg": "true"
    },
    {
        "id": "b443bf10.3a478",
        "type": "MySQLdatabase",
        "z": "",
        "host": "192.168.1.100",
        "port": "3306",
        "db": "hubitat_logging",
        "tz": ""
    },
    {
        "id": "384bf512.4d2332",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.110/eventsocket",
        "tls": "",
        "wholemsg": "true"
    }
]
